html, body{
  overflow-x: hidden;
}
body{
  font-family: "Roboto", Arial, sans-serif;
  color: #333333
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Bubbler One", Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}


/* HEADER */
header {
  color:#FFFFFF;
  background-image: linear-gradient(72deg, #7b309f 0%, #72b1fd 47%, #66cb5a 100%);
}
header nav {
  padding: 1em 0;
}
section.navigation {
  height: 80px;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul >li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background: #FFFFFF;
}
header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #68C190;
}
section.hero {
  background-image: url(../images/hero-image.png);
  background-size: cover;
  height: 520px;
}

header .hero {
  text-align: center;
  display:block;
  position: relative;
}
header .hero h1 {
  color: #4C2C5C;
  font-size: 72px;
  font-weight: normal;
  margin: 95px 0 0;
}
header .hero p {
  color:#4C2C5C;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  margin: 10px 0 40px
}
/* BUTTONS*/
.btn {
  border-radius: 4px;
  color:#FFFFFF;
  font-weight:700;
  text-decoration: none;
  padding: 10px 30px;
  background: #7AD075;
  border: 2px solid #7AD075;
  box-shadow: 0px 2px 0px 0px #22894e;
}
/* BENEFITS */
.benefits {
  text-align: center;
  display: block;
  position: relative;
}
.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color: #8B4CAB;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}
.benefits h2 {
  font-size: 36px;
}

/* PRICING */
.pricing {
  text-align: center;
  padding: 4em 0;
}
.pricing h2 {
  font-size: 48px;
}
.pricing ul {
  margin: 0 auto;
  padding:2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
  border-style: solid;
  border-color: #8B4CAB;
}
.box.middle h3 {
  background-image: linear-gradient(72deg, #7b309f 0%, #72b1fd 47%, #66cb5a 100%);
}
.box h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #8B4CAB;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
  color: #FFFFFF
}
.box h4 {
  font-size: 50px;
  margin: 40px 0 10px;
  color: #333333
}
.box h4 span {
  font-size: 32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.small {
  font-size: 12px;
  color: #FEFEFE;
  line-height: 15px;
  font-style: italic;
}
/* TESTIMONIALS */
.testimonials {
  padding: 4em 0;
  color: #FFFFFF;
  text-align: left;
  background-image: url(../images/CarlosM.png);
  background-size: cover;
}
.testimonials h2 {
  font-size: 48px;
}
.testimonials p {
  line-height: 24px;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color: #FFFFFF;
  text-align: left;
  position: relative;
  padding-top: 160px;
  width: auto;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
.testimonials blockquote.low {
  margin-top: 20px;
}

.testimonials p.name {
  float: right;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  line-height: 16px;
}
/* COLLABORATORS */
.collaborators {
  background-image: url(../images/collaborate.png);
  background-size: cover;
  height: 520px;
  color: #FFFFFF;
  text-align: left;
  display:block;
  position: relative;
}
.collaborators h2 {
  font-family: "Bubbler One", Arial, sans-serif;
  font-size: 48px;
  margin: 95px 0 0;
}
.collaborators p {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* FOOTER */
footer {
  background-color: #5CA5F5;
  color: #FFFFFF;
  height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo {
  padding:  0;
  margin: 5px auto;
  display: block;
  height: 40px;
}
@media (min width: 992px){
  footer {
    background-color: #5CA5F5;
  }
  footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #3498DB;
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 500px) {
  .container {
    width: 94%;
  }
  .one-half {
    width: 47%;
    margin: 0;
  }
  header nav ul >li {
    margin: 0;
    padding: 0 10px;
  }
  header nav ul {
    padding: 4px;
  }
  header .hero h1 {
    margin: 30px;
  }
  section.hero {
    background-position: center top;
  }
  header .hero p {
    font-size: 18px;
    font-weight: 400;
  }
  .collaborators {
    text-align: center;
  }
  footer {
    margin: 0px;
    height: 200px;
  }
}
/* DASHBOARD */
.dashboard {
  background: #F8F8F8;
}
.left-nav {
  height: 100%;
  width:280px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** chrome and safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0);
}
.left-nav.open {
  display: block;
  width: 280px;
  background: #34495E;
  background-image: linear-gradient(72deg, #7b309f 0%, #72b1fd 47%, #66cb5a 100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** chrome and safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0);
    z-index: 100;
}
.hamburger {
  position: absolute;
  z-index: 1000;
  background: #8B4CAB;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  left: 5px;
  top: 15px;
}
.left-nav .site-logo {
  padding: 20px 0px;
  display: block;
  text-align: center;
}
.left-nav .items {
  padding: 0 6%;
}
.left-nav .items p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #e2e2e2;
  line-height: 15px;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.left-nav .items ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
}
.left-nav .items ul li.active {
  background-color: #FFFFFF;
}
.left-nav .items ul li.active a {
  color: #8B4CAB;
}
.left-nav .items ul li.active a i {
  color: #8B4CAB;
}

/* Left NavBar Settings */
.left-nav .settings {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
.left-nav .settings img {
  height: 35px;
  width:35px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
}
.left-nav .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
.left-nav .settings a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
/* Content */
.content {
  padding: 6em 1% 1.5em;
  float: right;
  width: 98%;
  position: relative;
}
.content .header {
  margin: 0 1% 20px;
}
.content .header h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px;
  font-size: 36px;
  color: #8B4CAB;
  line-height: 44px;
  float: left;
  display: inline-block;
}
.content .header > a {
  float: right;
}
.content-item {
  width: 96%;
  margin: 0 2% 25px;
  float: left;
  display: block;
}
.item-box {
  display: block;
  height: 230px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.item-box > img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
}
.item-box h2 {
  color: #8B4CAB;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
}
.item-box h2 img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.item-box h2 a {
  color: #8B4CAB;
  text-decoration: none;
}
.item-box p {
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  margin: 5px 0 0;
}
.item-box ol li {
  font-size: 14px;
  color: #333333;
  font-weight: 300;
}
@media (min-width: 500px) {
  .container {
    width: 92%;
  }
  .one-half {
    width: 47%;
    margin: 0;
  }
  header nav ul >li {
    margin: 0;
    padding: 0 10px;
  }
  header nav ul {
    padding: 4px;
  }
  header .hero h1 {
    margin: 30px;
  }
  section.hero {
    background-position: center top;
  }
  header .hero p {
    font-size: 18px;
    font-weight: 400;
  }
  section.testimonials {
    background-position: right;
  }
  .collaborators {
  text-align: center;
  }
  footer {
    height: 210px;
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .one-half {
    width: 46%;
  }
  footer {
    margin: 0px;
    height: 210px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
    display: inline-block;
  }
  .content-item {
    width: 46%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}

/* Tablets */
/@media (min-width:768px) {
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content>.container {
    width: 700px;
  }
  .content-item {
    width: 31.33333%;
    margin: 0 1% 25px;
    float: left;
  }
}
/* Laptops and Desktops */
@media (min-width:992px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 83.33333333%;
    position: relative;
  }
  .content > .container {
    width: auto;
  }
  .content-item {
    width: 23%;
    margin: 0 1% 25px;
    float: left;
  }
  .left-nav {
    height: 100vh;
    width: 14.66666667%;
    color: #FFFFFF;
    background: #34495e;
    background-image: linear-gradient(72deg, #7b309f 0%, #72b1fd 47%, #66cb5a 100%);
    float: left;
    position: fixed;
    display: block;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
  }
  .left-nav.open {
    width:14.66666667%;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .hamburger {
    display: none;
  }
}
